.ticket-status-box {
    vertical-align: top;
    display: inline-block;
    border: 2px solid grey;
    margin: 5px;
    width: 250px;
    height: 400px;
    overflow: auto;
}

.top-line-dashboard {
    display: flex;
    justify-content: center;
}

h2 {
    max-width: 100%;
    width: fit-content;
}

.top-dashboard-elem {
    display: inline;
    max-width: 100%;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

.PopupCreation {
    width: fit-content;
    background-color: white;
}

.ticket-container {
    background-color: grey;
    border-radius: 16px;
    box-sizing: inherit;
    border-color: black;
    border-style: solid;
    margin: 5px;
}

.ticket-container h3, p{
    margin: 0;
    margin-bottom: 5px;
}
